/*GENERAL*/

.bg-inverse {
	background-color: #252525;
}

body {

}

/*SIDEBAR*/

.sidebar {
	height: 100%;
	float: left;
	display: fixed;
	border-right: 1px solid #e7e7e7;
	margin-right: 20px;
	min-width: 86px;
	max-width: 86px;
 }    

.sidebar .section {
	background-color: #fbfbfb;
	border-bottom: solid 1px #e7e7e7;
	padding: 20px;
	height: 76px;
	text-align: center;
}

.sidebar .fa {
	font-size: 2em;
}

/*SIDEBAR COLOR PALETTE*/

.fa-flask {
	color: #14b9d6;
}

.fa-futbol-o {
	color: #e76049;
}

.fa-globe {
	color: #2eb398;
}

.fa-code {
	color: #90899c;
}

.fa-briefcase {
	color: #5692b1;
}

.fa-university {
	color: #f9b704;
}

.fa-music {
	color: #dd1787;
}

.fa-plus {
	color: #e76049;
}

.fa-gamepad {
	color: #252525;
}

/*SIDEBAR INTERACTIVITY (JS STYLES)*/

.title-text {
	display: none;
	color: #fbfbfb;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 0;
	margin-left: 10px;
}

.active {
	margin-right: -100px;
	padding-right: 180px;
	text-align: left;
}